option_settings:
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '2'
    Cooldown: '60'
  aws:autoscaling:launchconfiguration:
    MonitoringInterval: '1 minute'
  AWSEBAutoScalingScaleUpPolicy.aws:autoscaling:trigger:
    UpperBreachScaleIncrement: '1'
  AWSEBAutoScalingScaleDownPolicy.aws:autoscaling:trigger:
    LowerBreachScaleIncrement: '-1'
  AWSEBCloudwatchAlarmHigh.aws:autoscaling:trigger:
    UpperThreshold: '70'
  AWSEBCloudwatchAlarmLow.aws:autoscaling:trigger:
    LowerThreshold: '30'
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    Period: '1'
    EvaluationPeriods: '2'
    BreachDuration: '2'

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
  AWSEBCloudwatchAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      Period: 60
      EvaluationPeriods: 2
  AWSEBCloudwatchAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      Period: 60
      EvaluationPeriods: 15
