files:
  "/etc/sysctl.d/99-instant.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      kernel.perf_event_paranoid = 1
      kernel.kptr_restrict = 0

commands:
  01_reload_sysctl:
    command: |
      sysctl -w kernel.perf_event_paranoid=1
      sysctl -w kernel.kptr_restrict=0
