/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.DS_Store
node_modules
.lsp
.elasticbeanstealk/app_versions
.idea 
server.iml
.babashka-pod-*
dev-resources/honeycomb-export*
dev-resources/certs
