services:
  web:
    image: IMAGE_REPLACE_ME
    depends_on:
      - refinery
    environment:
      - BEANSTALK_PORT=80
      - PRODUCTION=true
      - HONEYCOMB_ENDPOINT=http://localhost:8082
    env_file:
      - .env
    network_mode: "host"
    command: sh -c 'java $${JAVA_OPTS} -agentpath:/usr/local/YourKit-JavaProfiler-2024.3/bin/linux-x86-64/libyjpagent.so=port=10001,listen=all -server -jar target/instant-standalone.jar'

  logdna:
    image: logdna/logdna-agent:3.8
    environment:
      - MZ_INGESTION_KEY=89611186ea52cb24e48a5e44d98d666c
      - MZ_LOG_DIRS=/var/log
      - MZ_INCLUSION_RULES=*.log,/var/log/messages
    env_file: "logdna.env"
    volumes:
      - /var/log/eb-engine.log:/var/log/eb-engine.log:ro
      - /var/log/messages:/var/log/messages:ro
      - /var/log/eb-docker:/var/log/eb-docker:ro

  refinery:
    image: honeycombio/refinery:2.8.4
    volumes:
      - ./refinery/config.yaml:/etc/refinery/refinery.yaml
      - ./refinery/rules.yaml:/etc/refinery/rules.yaml
    environment:
      - REFINERY_HONEYCOMB_API_KEY=${REFINERY_HONEYCOMB_API_KEY}
    network_mode: "host"
