@import "tailwindcss";
@plugin "@tailwindcss/forms";

/* Litoe */
.drawer-enter {
  transform: translateX(100%);
}

.drawer-enter-active {
  transform: translateX(0);
}

.drawer-exit {
  transform: translateX(0);
}

.drawer-exit-active {
  transform: translateX(100%);
}
